body {
background-color:black;
}
* {
    margin: 0;
    padding: 0;
   }
.main {
    margin-right:auto;
    margin-top:20px;
    margin-left:auto;
    width:50%;
    height:auto;
    min-height:300px;
    background-color:grey;
}
.head {
    width:100%;
    height:120px;
    margin:0;
    margin-top:3px;
    margin-left:5px;
    margin-right:5px;
    background-color:grey;
    border-radius:12px;
}
.sidebar {
    margin-top:10px;
    border-radius:8px;
    margin-left:7px;
    margin-right:0;
    background-color:grey;
    min-height:400px;
    height:auto;
    float:left;
    width:17%;
}
.sidebar2{
   margin-top:10px;
    border-radius:8px;
    margin-left:0px;
    margin-right:7px;
    background-color:grey;
    float:right;
    min-height:400px;
    height:auto;
    width:17%;
}
