body {
background-color:#ebd9d8;
}
* {
    margin: 0;
    padding: 0;
   }
.downloadbutton{
   background-color:#3d3c66;
   border-radius:7px;
   width:40px;
   height:auto;
   min-height:20px;
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.main {
    text-align:center;
    margin-right:auto;
    margin-top:20px;
    margin-left:auto;
    width:50%;
    border-radius:12px;
    height:auto;
    min-height:300px;
    background-color:#b8bcff;
}
.head {
    width:100%;
    height:120px;
    text-align:center;
    font-size:40px;
    margin:0;
    margin-top:3px;
    margin-left:5px;
    margin-right:5px;
    background-color:grey;
}
.sidebar {
    margin-top:10px;
    border-radius:8px;
    margin-left:7px;
    margin-right:0;
    background-color:#9ea5ff;
    min-height:400px;
    height:auto;
    float:left;
    width:17%;
}
.sidebar2{
   margin-top:10px;
    border-radius:8px;
    margin-left:0px;
    margin-right:7px;
    background-color:#9ea5ff;
    float:right;
    min-height:400px;
    height:auto;
    width:17%;
}
.game{
    float:right;
    width:20%;
    height:auto;
    border-radius:9px;
    min-height:50px;
    background-color:#9197ff;
}
