body {
background-color:black;
}
* {
    margin: 0;
    padding: 0;
   }
.head {
    width:100%;
    height:120px;
    margin:0;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    background-color:grey;
}
.sidebar {
    margin-top:10px;
    margin-left:0;
    margin-right:0;
    background-color:grey;
    min-height:400px;
    height:auto;
    width:17%;
}
    
